body{
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}
.top-card{
    /* border: 1px solid blue; */
    background-color: hsl(193, 100%, 96%);
    background-image: url(./img/images/bg-hero-desktop.svg);
    width: fit-content;
}

.trial{
    background-color: white;
    border-radius: 20px;
}
.row-cards{
    border: 2px silid blue ;
    gap: 10px;
}
.footer{
    background-color: hsl(192, 100%, 9%);
}
.footer-top{
    /* border: 1px solid red; */
    background-color: hsl(193, 100%, 96%);
    border-radius: 20px;
    height: 10rem;
    position: relative;
    left: 270px;
    top: 90px;  
    width: 50%;
    
}
.button{
    background-color:hsl(322, 100%, 66%) ;
    border-radius: 20px;
    color: white;
    width: 100%;
    padding: 20px;

}
