body{
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}
.top-card{
    /* border: 1px solid blue; */
    background-color: hsl(193, 100%, 96%);
    background-image: url(./img/images/bg-hero-desktop.svg);
}

.trial{
    background-color: white;
    border-radius: 20px;
}
.row-cards{
    border: 2px silid blue ;
    gap: 10px;
}